@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@layer components {
  .btn-social {
    @apply flex align-baseline gap-2 w-16 relative bg-gray-600  rounded-full p-3 md:hover:w-48 hover:bg-sky-700 transition-all;
  }
  .btn-social span {
    @apply absolute invisible top-5;
  }
  .skills {
    @apply flex flex-col items-center text-2xl ;
  }
  .item-project {
    @apply relative flex flex-col justify-start;
  }
  .item-project-right{
    @apply items-end self-end;
  }
  .item-project-left{
    @apply items-start self-start;
  }
  .item-text-description{
    @apply flex flex-col absolute top-8 font-bold text-4xl text-violet-600 z-10 transition-all duration-300;
  }
  .item-text-description-left{
    @apply -right-24 group-hover:-right-48;
  }
  .item-text-description-right{
    @apply -left-28 group-hover:-left-48;
  }

  .item-link{
    @apply absolute bottom-0 z-10 text-3xl flex gap-5 font-bold transition-all duration-300;
  }
  .item-link-left{
    @apply -right-48;
  }

  .item-link-right{
    @apply -left-44;
  }
  .input-form{
    @apply h-16 pl-4 opacity-80 text-xl rounded-xl text-black focus:outline-none focus:border-2 focus:border-sky-500
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body, input, textarea, button{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
